/* src/app/globals.css */

/* Import Tailwind CSS base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom fonts */
@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Apply custom font globally */
body {
  font-family: 'Geist', sans-serif;
}
